In [1]:
#import pandas_profiling as pp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
#plt.style.use('default')

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 250)
pd.set_option('display.min_rows', 100)
pd.set_option('display.max_columns', 30)

In [4]:
df = pd.read_csv('df_for_preprocessing.csv')

In [5]:
df.head()

,id,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,churn,promotion_last_5years,dept,salary,sat_level_cluster,last_eval_cluster,avg_month_hr_cluster
0,0,0.38,0.53,2,157,3,0,1,0,sales,low,unsatisfied,low performance,low
1,1,0.80,0.86,5,262,6,0,1,0,sales,medium,very satisfied,high performance,high
2,2,0.11,0.88,7,272,4,0,1,0,sales,medium,very unsatisfied,very high performance,high
3,3,0.72,0.87,5,223,5,0,1,0,sales,low,satisfied,high performance,medium
4,4,0.37,0.52,2,159,3,0,1,0,sales,low,unsatisfied,low performance,low